@import 'page';
@import 'header';
@import 'content';
@import 'footer';


.window-creator-tag {
    @extend %position-center;
    width: max($numbers: 1920px);
    height: 100%;
    display: block;
    margin: auto;
    background-color: white;
}

.form-creator {
    position: relative;
    width: 800px;
    margin: 30px auto 10px;

    .field-input {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
}

.field-input-left,
.field-input-right {
    margin: 0 auto;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin: 0 225px;
}

.btn-back {
    @extend %btn-grey;
}

.btn-save {
    @extend %btn-green;
}