@import 'page';
@import 'header';
@import 'content';
@import 'page.number.scss';
@import 'footer';

$color-main: rgb(194, 194, 194);

.nav-top-line {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100px;
    background: $color-main;
    font-size: 60px;

    .img-title {
        font-size: 20px;
    }

    a {
        display: inline-flex;
        color: black;
        text-align: center;
        width: 20%;

        :hover {
            color: white;

        }

        .nav-item {
            width: 100%;
            height: 100%;
        }
    }
}

.img-icon {
    text-align: center;
}


.container-wrapper {
    height: 100%;
    margin: 0 auto;
    overflow: auto;
}

.container {
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cell {
    width: 20%;
    min-width: fit-content;
    box-sizing: border-box;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 5px auto;
    padding: 10px;
}

.img-card {
    font-size: 200px;
    width: 100%;
    background: $color-main;
    text-align: center;
}

.item-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: white;

    .top-row,
    .midle-row,
    .botton-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5%;
        font-size: 16px;
    }

    .top-row {
        font-size: 20px;

        a {
            color: black;
        }
    }

    .midle-row {
        border-bottom: 1px solid $color-main;
    }

    .item-duration {
        font-size: 12px;
    }

    .botton-row {
        font-size: 20px;

        .btn-add-item {
            @extend %btn-grey;
            margin: 0;
            font-size: 12px;
            width: 100px;
            padding: 5px;
        }
    }
}