@import 'page';
@import 'header';
@import 'content';
@import 'page.number.scss';
@import 'footer';

$color-main: rgb(194, 194, 194);

.img-icon {
    text-align: center;
}

.container {
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5px;
}

.cell {
    width: 20%;
    min-width: fit-content;
    box-sizing: border-box;
}

.cell:hover {
    box-shadow: 5px 0 10px rgb(88, 90, 88);
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 5px auto;
    padding: 10px;
}

.img-card {
    font-size: 200px;
    width: 100%;
    background: $color-main;
    text-align: center;

    a:hover {
        color: black;
    }
}

.item-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: white;

    .top-row,
    .midle-row,
    .botton-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5%;
        font-size: 16px;
    }

    .top-row {
        font-size: 20px;
    }

    .midle-row {
        border-bottom: 1px solid $color-main;
    }

    .item-extra-info {
        font-size: 12px;
    }

    .btn-add-item {
        @extend %btn-grey;
        vertical-align: middle;
        font-size: 14px;
        margin: 0;
        width: 100px;
        height: 30px;
        padding: 5px;
    }
}

/*  Table  */

.table-order,
.table-tag,
.table-user {
    width: 60%;
    margin: 40px auto 5px;
    background: rgb(233, 233, 233);

    .table-title-row,
    .table-row {
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid grey;
    }

    .table-title-row {
        background: $color-main;

        p {
            font-size: 18px;
        }
    }

    .table-row {
        font-size: 16px;
    }

    p {
        text-align: center;
        padding: 15px;
    }

    .table-row:hover {
        box-shadow: 5px 0 10px rgb(88, 90, 88);
        background: rgb(211, 211, 211);
    }

    .creation-date {
        width: 50%;
    }

    .total-price {
        width: 50%;
    }

    .name,
    .type,
    .price {
       width: 33.33%;
    }
}

.table-user p {
    width: 25%;
}

.table-tag p {
    width: 33.3333%;
}

.table-order p {
    width: 50%;
}

.btn-delete {
    @extend %btn-grey;
    background: rgb(252, 67, 67);
    color: black;


}

.btn-delete:hover {
    background: rgb(233, 39, 39);
}

.btn-delete:active {
    background: rgb(199, 23, 23);
    color: white;
}