@import 'page';
@import 'header';
@import 'content';
@import 'footer';

$width-register-form:350px;

.register-form {
    display: block;
    margin: 0 auto;
    width: $width-register-form;
}

.window-register {
    width: 500px;
    height: 490px;
    display: block;
    position: absolute;
    margin: auto;
    background-color: white;
}

.button-group {
    display: inline-block;
    width: $width-register-form;
    margin: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

.btn-cancel {
    @extend %btn-grey;
}

.btn-register {
    @extend %btn-green;
}