* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

h3, p {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0;
}

html,
body {
  width: 100%;
  min-width: 1130px;
  max-width: 1500px;
  height: 100%;
  margin: auto;
}

body {
  background-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black;
  line-height: 18px;
}

input,
select,
label,
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input,
select,
button {
  height: 35px;
  border-width: thin;
  padding: 0 10px;
}

textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  height: 251px;
  resize: none;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  background-color: #b8f3d1;
}

a {
  text-decoration: none;
  color: black;
  pointer-events: painted;
}

a:hover {
  color: #2b7a4c;
}

.container-wrapper {
  min-height: calc(100vh - 240px);
  margin: 0 auto;
  overflow: auto;
}

.nav-top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background: #c2c2c2;
  font-size: 60px;
}

.nav-top-line .img-title {
  font-size: 20px;
}

.nav-top-line a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: black;
  text-align: center;
  width: 20%;
}

.nav-top-line a :hover {
  color: white;
}

.nav-top-line a .nav-item {
  width: 100%;
  height: 100%;
}

.img-icon {
  text-align: center;
}

.title-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  background-color: grey;
  color: white;
}

.title-form .title {
  font-size: 20px;
  padding-left: 75px;
}

.form-group {
  width: 100%;
}

.form-group label {
  font-size: 12px;
  margin-left: 10px;
}

.form-input,
.form-group .select {
  display: block;
  width: 330px;
  margin: 8px 10px 10px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-info .btn-add-item, .btn-delete {
  width: 155px;
  display: inline-block;
  padding: 6px 35px;
  margin: 10px;
  text-decoration: none;
  font-size: 12pt;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border: 1px solid;
}

.item-info .btn-add-item, .btn-delete {
  border-color: #e9e9e9;
  color: grey;
  background-color: white;
}

.item-info .btn-add-item:hover, .btn-delete:hover {
  background: #e6e6ff;
}

.item-info .btn-add-item:active, .btn-delete:active {
  background: #a1a1aa;
  color: #363434;
}

header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.bar-left {
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1em;
  font-size: 24px;
}

.logo {
  font-size: 20px;
  margin-left: 3px;
}

.search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.search-block .select {
  width: 250px;
}

.field-search {
  width: 100%;
  border-right-style: none;
}

.bar-right {
  width: 15%;
  min-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  margin-right: 2%;
  font-size: 20px;
}

.bar-right .basket {
  margin-right: 2%;
}

.bar-right .login {
  display: inline;
  font-size: 16px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  display: block;
  min-height: calc(100vh - 120px);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  border: none;
  background-color: #f2f2f2;
  overflow: hidden;
}

.page-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 0 auto;
  -ms-flex-item-align: self-start;
      align-self: self-start;
}

footer {
  font-size: 20px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.footer-left {
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1em;
}

.footer-right {
  width: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2%;
}

.img-icon {
  text-align: center;
}

.container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px;
}

.cell {
  display: inline-block;
  width: 20%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transition: opacity 1s 1s;
  transition: opacity 1s 1s;
}

.cell:hover {
  -webkit-box-shadow: 5px 0 10px #585a58;
          box-shadow: 5px 0 10px #585a58;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px auto;
  padding: 10px;
}

.img-card {
  font-size: 200px;
  width: 100%;
  background: #c2c2c2;
  text-align: center;
}

.img-card a:hover {
  color: black;
}

.item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: white;
}

.item-info .top-row,
.item-info .midle-row,
.item-info .botton-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5%;
  font-size: 16px;
}

.item-info .top-row {
  font-size: 20px;
}

.item-info .midle-row {
  border-bottom: 1px solid #c2c2c2;
  font-size: 12px;
}

.item-info .item-tag-name {
  width: 120px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item-info .item-extra-info {
  width: 80px;
  text-align: end;
}

.item-info .btn-add-item {
  vertical-align: middle;
  font-size: 14px;
  margin: 0;
  width: 100px;
  height: 30px;
  padding: 5px;
}

/*  Table  */
.table-order,
.table-tag,
.table-user {
  width: 60%;
  margin: 40px auto 5px;
  background: #e9e9e9;
}

.table-order .table-title-row,
.table-order .table-row,
.table-tag .table-title-row,
.table-tag .table-row,
.table-user .table-title-row,
.table-user .table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid grey;
}

.table-order .table-title-row,
.table-tag .table-title-row,
.table-user .table-title-row {
  background: #c2c2c2;
}

.table-order .table-title-row p,
.table-tag .table-title-row p,
.table-user .table-title-row p {
  font-size: 18px;
}

.table-order .table-row,
.table-tag .table-row,
.table-user .table-row {
  font-size: 16px;
}

.table-order p,
.table-tag p,
.table-user p {
  text-align: center;
  padding: 15px;
}

.table-order .table-row:hover,
.table-tag .table-row:hover,
.table-user .table-row:hover {
  -webkit-box-shadow: 5px 0 10px #585a58;
          box-shadow: 5px 0 10px #585a58;
  background: lightgray;
}

.table-order .creation-date,
.table-tag .creation-date,
.table-user .creation-date {
  width: 50%;
}

.table-order .total-price,
.table-tag .total-price,
.table-user .total-price {
  width: 50%;
}

.table-order .name,
.table-order .type,
.table-order .price,
.table-tag .name,
.table-tag .type,
.table-tag .price,
.table-user .name,
.table-user .type,
.table-user .price {
  width: 33.33%;
}

.table-user p {
  width: 25%;
}

.table-tag p {
  width: 33.3333%;
}

.table-order p {
  width: 50%;
}

.btn-delete {
  background: #fc4343;
  color: black;
}

.btn-delete:hover {
  background: #e92727;
}

.btn-delete:active {
  background: #c71717;
  color: white;
}

/*Button ScrollUp*/
.scrollUp {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 2%;
  z-index: 99;
  font-size: 50px;
  border: none;
  outline: none;
  background-color: #67c78f;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.scrollUp:hover {
  background-color: #3a925f;
}

.scrollUp:active {
  background-color: #2b7a4c;
}
/*# sourceMappingURL=main.css.map */